version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      # use `-browsers` prefix for selenium tests, e.g. `3.6.1-browsers`
      - image: circleci/python:3.6.1

    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: install dependencies
          command: sudo pip install --upgrade pip && sudo easy_install nose && sudo pip install --user -r requirements/test.txt

      - run:
          name: run all tests
          command: nosetests --cover-inclusive --with-coverage --cover-package src --cover-html --cover-xml --cover-html-dir=/tmp -v

      - run:
          name: generating coverage report
          command: bash <(curl -s https://codecov.io/bash)

      - store_artifacts:
          path: test-reports
          destination: test-reports
