version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      # use `-browsers` prefix for selenium tests, e.g. `3.6.1-browsers`
      - image: circleci/python:3.6.1

    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: install dependencies
          command: pip install --upgrade pip && sudo easy_install nose && pip install --user -r requirements/test.txt

      - run:
          name: run cosine similarity test
          command: nosetests -w test/domain/cosine_similarity

      - run:
          name: run pipeline test
          command: nosetests -w test/domain/pipeline

      - run:
          name: run repository test
          command: nosetests -w test/adapter/repository

      - run:
          name: run persister test
          command: nosetests -w test/adapter/persister

      - run:
          name: run e2e test
          command: nosetests -w test

      - store_artifacts:
          path: test-reports
          destination: test-reports